    body{
        background: linear-gradient(to left,rgb(169, 216, 112), pink, rgb(122, 187, 212));
        
    }
    nav {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0.2px 0px 0px;
        width: 100%;
        position: fixed;
        top: 0;
        background: linear-gradient(to left, rgb(191, 138, 138), rgb(203, 203, 168),rgb(199, 136, 147));
    }

    button {
        background-color: #06c;
        color: white;
        height: 35px;
        border-radius: 30px;
        width: 120px;
        border: none;
        margin-right: 30px;
    }
    .topnav {
        display: flex;
        overflow: hidden;
      }
      .topnav a {
        float: left;
        display: block;
        color: #190444;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    .logo {
        display: flex;
        color: #06c;
        align-items: left;
        padding-left: 25px;
        padding-top: 5px;
    }

    .button {
        padding-top: 27px;
    }
    .one{
        padding-top: 100px;
        padding-left: 50px;
        /* flex-grow: calc(10); */
    }
    .two{
         padding-left: 420px; 
    }
    .header{
    display: flex;
    justify-content: center;
    }
    .nurse{
        padding-top: 120px;
        padding-right: 120px;
    }
    .three{
        text-align: center;
    }
   
    .container{
        display: flex;
        gap: 50px;
        /* padding-right: 120px; */    
        
    }
    #center{
        padding-right: 350px;
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        /* margin-left: 10px; */
    }
    .small{
        display: grid;
        /* margin-left: 15px; */
    }
    .card{
        height: 200px;
        width: 150px;
        background-color: rgb(246, 175, 185);
        border-radius: 15%;
        padding-left: 40px;
        padding-top: 30px;
    }


    .container2{
        height: 50px;
        width: 50px;
        border-radius: 30%;
        padding-right: 120px;
    }
    #phone{
        width: 400px;
        display: flex;
        margin-top: 50px;
        margin-left: 400px;
        border-radius: 45px;
    }
    .text{
        display: inline-block;
        position: relative;
        bottom: 50px;
        z-index: index 1000; 
        left: 36%;
        border-radius: 20px;
        background-color: whitesmoke;
        height: auto;
        width: 15%;    
        text-align: center;
    }
    .six{ 
        margin-left: 850px;
        position: relative;
        padding-bottom: 10x;
    }
    .parent{
        display: flex;
        justify-content: center;
        /* box-shadow: 2px 2px 2px 2px; */
        
    }
    .child{
        padding-top: 20px;
        padding-left: 30px; 
        /* gap: 10px; */
        
    }
    .full{
        padding-top: 30px;
        padding-left: 50px;
       
        
    }
    .parent1{
        display: flex;
        justify-content: center;
        /* box-shadow: 2px 2px 2px 2px; */
        /* gap: 10px; */
    }
    .child1{
        padding-top: 20px;
        padding-left: 120px; 
    }
    .full1{
        padding-top: 40px;
        padding-left: 80px;
        border-radius: 20%;
       
    }
    #see{
        text-align: center;
    }
    #blue{
        color: blue;
    }
    #medic{
        margin-left: 400px;
    }
    .parent2{
        display: flex;
        justify-content: center;
        /* box-shadow: 2px 2px 2px 2px; */
        /* gap: 10px; */
        padding-top: 30px;
        padding-left: 200px; 
    }
    .child2{
        padding-top: 20px;
        padding-left: 120px; 
    }
    .full2{
        padding-top: 120px;
        padding-left: 103px;
        border-radius: 20%;
       
    }
    .news{
        text-align: center;
        padding-top: 100px;
    }
    .parent3{
        display: flex;
        justify-content: center;
        /* box-shadow: 2px 2px 2px 2px; */
        /* gap: 10px; */
        padding-left: 200px; 
    }
    .child3{
        padding-top: 20px;
        padding-left: 120px; 
    }
    .full3{
        /* padding-top: 80px; */
        padding-left: 80px;
        border-radius: 20%;
       
    }
    .parent4{
        display: flex;
        justify-content: center;
        /* box-shadow: 2px 2px 2px 2px; */
        /* gap: 10px; */
        padding-left: 200px; 
    }
    .child4{
        padding-top: 20px;
        padding-left: 120px; 
    }
    .full4{
        /* padding-top: 80px; */
        padding-left: 80px;
        border-radius: 20%;
       
    }
    .news1{
        text-align: center;
        padding-top: 200px;
    }
    .footer{
        color: black;
    }

.foot {
    display: flex;
    flex-direction: column !important;
    overflow: hidden;
    padding-left: 500px;
    float: left;
    display: block;
    color: hwb(0 0% 100%);
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 67%;
    /* height: 100%; */
  }
  .foot a {
    /* float: left; */
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
  }